$body-bg: whitesmoke;
$main-bg: #fff;
$border-color: #000;
$shadow-color: gray;
$header-color: royalblue;
$link-color: royalblue;
$link-hover: gold;
$remove-button: orangered;
$font-color: #000;
$inverse-font-color: #fff;
$submit-button: limegreen;